In [1]:
#get data from astro.json
import requests
request=requests.get('http://api.open-notify.org/astros.json')
#print the response
print(request.status_code)

200

In [2]:
#print the data
print(request.text)

{"message": "success", "people": [{"name": "Cai Xuzhe", "craft": "Tiangong"}, {"name": "Chen Dong", "craft": "Tiangong"}, {"name": "Liu Yang", "craft": "Tiangong"}, {"name": "Sergey Prokopyev", "craft": "ISS"}, {"name": "Dmitry Petelin", "craft": "ISS"}, {"name": "Frank Rubio", "craft": "ISS"}, {"name": "Nicole Mann", "craft": "ISS"}, {"name": "Josh Cassada", "craft": "ISS"}, {"name": "Koichi Wakata", "craft": "ISS"}, {"name": "Anna Kikina", "craft": "ISS"}], "number": 10}

In [3]:
#extract the names of astronats from the response json
#This also demonstrats the dictionary concept where name and craft are the key
data=request.json()
print(data['number'])
for p in data['people']:
    print(p['name'])

10
Cai Xuzhe
Chen Dong
Liu Yang
Sergey Prokopyev
Dmitry Petelin
Frank Rubio
Nicole Mann
Josh Cassada
Koichi Wakata
Anna Kikina

In [4]:
#import regular expression
import re
#regular expression to replace space by comma
data=request.json()
print(data['number'])
for p in data['people']:
    print(re.sub(r" ",",",p['name']))

10
Cai,Xuzhe
Chen,Dong
Liu,Yang
Sergey,Prokopyev
Dmitry,Petelin
Frank,Rubio
Nicole,Mann
Josh,Cassada
Koichi,Wakata
Anna,Kikina

In [5]:
#import regular expression
import re
str = "I am so #excited to present this paper to the audiance, for the 3rd time"
#extract word #excited from the string
print(re.findall(r"#excited", str))

['#excited']

In [6]:
#split the string based on comma
print(re.split(r",",str))

['I am so #excited to present this paper to the audiance', ' for the 3rd time']

In [7]:
#substitue number 3rd with letter third
print(re.sub(r"3rd","third",str))

I am so #excited to present this paper to the audiance, for the third time

In [8]:
#Mathematical operations using numpy
# Python Program to create
# a data type object
import numpy as np
 
# First Array
arr1 = np.array([[4, 7], [2, 6]], 
                 dtype = np.float64)
                  
# Second Array
arr2 = np.array([[3, 6], [2, 8]], 
                 dtype = np.float64) 
 
# Addition of two Arrays
Sum = np.add(arr1, arr2)
print("Addition of Two Arrays: ")
print(Sum)
 
# Addition of all Array elements
# using predefined sum method
Sum1 = np.sum(arr1)
print("\nAddition of Array elements: ")
print(Sum1)
 
# Square root of Array
Sqrt = np.sqrt(arr1)
print("\nSquare root of Array1 elements: ")
print(Sqrt)
 
# Transpose of Array
# using In-built function 'T'
Trans_arr = arr1.T
print("\nTranspose of Array: ")
print(Trans_arr)

Addition of Two Arrays:
[[ 7. 13.]
 [ 4. 14.]]

Addition of Array elements:
19.0

Square root of Array1 elements:
[[2.         2.64575131]
 [1.41421356 2.44948974]]

Transpose of Array:
[[4. 2.]
 [7. 6.]]

In [9]:
import numpy as np
import os
import pandas as pd
import sqlite3
from sqlite3 import Error
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings("ignore")

# load the training dataset
train = pd.read_csv('train-data.csv')
train.head()

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
def insert_entry(conn, data):
    """
    Create a new task
    :param conn:
    :param data:
    :return:
    """

    sql = ''' INSERT INTO cities(id, name, is_metro)
              VALUES(?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, data)
    conn.commit()
    return cur.lastrowid
database = r'cities_db.db'
#os.remove(database)
sql_create_cities_table = """ CREATE TABLE IF NOT EXISTS cities (
                                    id integer PRIMARY KEY,
                                    name text NOT NULL,
                                    is_metro BOOLEAN NOT NULL CHECK (is_metro IN (0, 1))
                                ); """

# create a database connection
conn = create_connection(database)

# create tables
if conn is not None:
    # create cities table
    create_table(conn, sql_create_cities_table)
    locations = { i: (1 if i in ['Mumbai', 'Delhi', 'Kolkata', 'Chennai'] else 0) for i in train['Location'].unique()}
    for idx, key in zip(range(len(locations.keys())),list(locations.keys())):
        data = (idx, key, locations[key])
        insert_entry(conn, data)


else:
    print("Error! cannot create the database connection.")


engine = create_engine('sqlite:///%s'%database)
with engine.connect() as con:
    rs = con.execute('Select id, name, is_metro from cities')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()
    
df.head()

IntegrityError: UNIQUE constraint failed: cities.id